* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: Verdana, Tahoma, sans-serif;
}

body {
  background-color: darkslateblue;
}

#playArea {
  display: flex;
  flex-direction: column;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 90vh;
  justify-content: center;
  align-items: center;
  background-color: darkslateblue;
}

#welcome,
#shipPlacingScreen,
#shipSelectionScreen {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  height: 100vh;
  color: white;
  font-size: 1rem;
  background-color: darkslateblue;
  align-items: center;
}

#welcomeBtn,
#startChoose,
#startRandom,
#yesBtn,
#noBtn,
#beginBtn {
  padding: 20px 30px;
  background-color: dodgerblue;
  border-radius: 10px;
  color: white;
  font-size: 1.3rem;
}

p {
  line-height: 200%;
}

ul {
  list-style-type: none;
  line-height: 200%;
}

#instructions {
  font-size: 2rem;
  height: 10vh;
  background-color: darkslateblue;
  color: white;
}

button {
  outline: none;
  border: none;
}

.unclickable { 
  pointer-events: none; 
} 

.boardContainer {
  margin: 20px;
  background-color: whitesmoke;
  height: 350px;
  width: 350px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  flex-shrink: 0;
}

.ocean,
.ship,
.shipDead {
  height: 95%;
  width: 95%;
}

.ocean {
  background-color: lightskyblue;
}

.ship {
  background-color: orange;
}

.hide {
  background-color: dodgerblue;
}

.shipDead {
  background-color: red;
}

.missedShot {
  background-color: grey;
}

.coordsText {
  font-size: 1rem;
}

.ocean:hover,
.ship:hover {
  cursor: pointer;
  background-color: aliceblue;
}

/* div {
  border: 2px solid green;
} */

@media only screen and (max-width: 700px) {
  #playArea {
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
  }
}